{% extends 'base.html.twig' %}

{% block title %}Back office | Getion des articles{% endblock %}

{% block body %}

<h1 class="display-4 text-center my-4">MODIFICATION DE L4ARTICLE</h1>
    {{ form_start(formEdit, {'attr':{'class': 'col-md-7 mx-auto'}}) }}

    {{ form_row(formEdit.title, {'attr':{'placeholder': "Saisir le titre de l'article..."}}) }}

    {{ form_row(formEdit.category) }}

    {{ form_row(formEdit.content, {'attr':{'placeholder': "Contenu le titre de l'article...","rows":10}}) }}

    {{ form_row(formEdit.image, {'attr':{'placeholder': "Saisir l'URL de l'image..."}}) }}

    <button type="submit" class="btn btn-info">
    {% if editMode %}
        Enregistrer les modifications
    {% else %}
        Enregistrer
    {% endif %}
    



    </button>


    {{ form_end(formArticle) }}


{% endblock %}