{% extends "base.html.twig" %}

{% block body %}

<h1 class="display-4 text-center my-4">Detail de l'article</h1>


<div class="text-center col-md-12 mb-2  p-0">
    <img src="{{ article.image|replace({"200": "1000/300"}) }}" class="card-img-top" alt="{{ article.title }}">
    <div class="card-body">
      <h5 class="card-title">{{ article.title }}</h5>
      <p class="card-text ">{{ article.content|raw }} </p>
      <hr>

      {% if app.user %}

        <span class="col-md-2"><a href="{{ path('blog_edit', {'id': article.id})}}" class="text-left btn btn-info">Motifier</a></span>
      
      {% endif %}
      
      <span>Posté le {{ article. createdAt|date("d/m/Y") }} à {{ article.createdAt|date("H:i:s") }} dans la catégorie <strong>{{ article.category.tittle}}</strong></span>
    </div>

    <h2 class="text-center mt-5">Derniers avis...</h2>

      {# Grace aux relation bi-diractionnelle , lorsque nous selectionnons dans une table SQL, nous avons à toutes les données des autre tables , il faut pour cela avoir créer des relation 
      entre les tables (clé étrangère #}
      {# Par exemple, dans notre cas , si nous selectionnos l'article id 1 dans la BDD?nous avons accès aux données de l'article mais
      aussi aux données des autre tables qui songt liées à l'article, c'est à dire que nous avons à la catégorie liée à 
      l'article mais aussi à tout les commentaires liés à l'article en BDD#}

      {# On pioche dans la variable TWIG 'article' afin d'accéder aux commentaires de l'article (article )#}
      {# On boucle avec FOR puisque que liusieurs commentaires songt liés à l'article #}
      {# 'comment' est une variable de réception qui receptionne une ligne de commantaire de la BDD par tour de boucle FOR #}
      {% for comment in article.comments %}

      <div class="row border rounded mb-2 bg-dark text-white">
        <div class="col-md-2 mt-5">

          <span>{{ comment.author }}</span>
          <small class="font-italic">( {{ comment.createdAt|date('d/m/Y à H:i:s') }} )</small>

        </div>
        <div class="col-md-10">
          <p>{{ comment.content|raw }}</p>
        </div>
      </div>
    {% endfor %} 


  </div>

{% endblock %}
